* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #3a3d42;
}

nav {
  background-color: #6379f4;
}

nav.navbar .container .collapse .navbar-nav a.sign-up {
  color: #6379f4;
}

header.jumbotron {
  background-image: url("../background/blue-sky.svg");
  background-size: cover;
  height: 640px;
  margin-top: -75px;
  background-color: #6379f4;
  color: white;
}

header.jumbotron h2 {
  font-size: 4rem;
}

header.jumbotron button {
  color: #6379f4;
  font-weight: bold;
  border-radius: 12px;
}

main .choose h2.text-center {
  font-size: 3.5rem;
}

main .choose h2.text-center span {
  color: #6379f4;
}

main .choose .row .col-md-4 {
  margin-top: 2rem;
}

main .choose .row .col-md-4 p {
  line-height: 0.5;
}

main .brands {
  background-color: #eeeeee;
}

main .money-transfered {
  padding: 3rem 0 3rem 0;
}

main .money-transfered h2 {
  width: max-content;
  padding: 1rem;
  background-color: #eeeeee;
  margin: auto;
  border-radius: 5rem;
  color: #6379f4;
  font-size: 2rem;
}

main .money-transfered h3 {
  font-size: 2.5rem;
}

main .money-transfered h3 span {
  color: #6379f4;
}

main .money-transfered p {
  line-height: 2;
}

main .features {
  background-color: #eeeeee;
  overflow: hidden;
}

main .features .row .col-md-6 h2 {
  font-size: 3rem;
  text-align: center;
}

main .features .row .col-md-6 h2 span {
  color: #6379f4;
}

main .features .row .col-md-6 img.features-bg {
  display: none;
}

main .features .row .col-md-6 ul.features {
  list-style: none;
}

main .features .row .col-md-6 ul.features li {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 2rem #00000020;
}

main .features .row .col-md-6 ul.features li p:first-child span {
  color: #6379f4;
}

main .money-transfered h2 {
  padding: 2rem;
}

main .features .row .col-md-6 img.features-bg {
  width: 846px;
  height: 1015px;
  top: -90px;
  position: relative;
  left: -170px;
  display: block;
}

footer {
  background-color: #6379f4;
}

footer .container {
  text-align: left;
}

.users-say h2 span {
  color: #6379f4;
}


@media (min-width: 600px) {

  header.jumbotron h2 {
    font-size: 4rem;
  }

  main .choose .row .col-md-4 {
    margin-top: 0;
  }

  main .money-transfered h2 {
    padding: 2rem;
  }

  main .features .row .col-md-6 img.features-bg {
    width: 350;
    position: relative;
  }
  
  main .features .row .col-md-6 h2 {
    text-align: left;
  }
}
